* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#firstcontainer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
#firstimage {
  grid-column: 2/3;
}
#imagevalue1 {
  height: 300px;
  width: 100%;
  border-radius: 6px;
}
#secondcontainer {
  display: grid;
  grid-template-columns: 16% 16% 18% 18% 16% 16%;
}
.butonfirst {
  grid-column: 3/4;
  height: 40px;
  cursor: pointer;
}
.butonsecond {
  grid-column: 4/5;
  height: 40px;
  cursor: pointer;
}
#thirdcontainer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
#thirdsubcontainer {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 30px 35px;
  grid-row-gap: 20px;
}
#text {
  grid-column: 4/9;
  grid-row: 1/2;
  font-size: 25px;
}
#btttn {
  grid-column: 4/8;
  display: flex;
  justify-content: space-between;
}
#bt1 {
  border-radius: 20px;
  padding: 5px 10px;
  width: fit-content;
}
#b_t,
#bt1:hover {
  background-color: rgb(237, 13, 13);
  border-radius: 20px;
  padding: 5px 10px;
  width: fit-content;
}

/* 
#bt2 {
  width: 90px;
  border-radius: 20px;
}
#b_t1,
#bt2:hover {
  background-color: rgb(237, 13, 13);
  border-radius: 20px;
  width: 90px;
}
#bt3 {
  width: 90px;
  border-radius: 20px;
}
#b_t2,
#bt3:hover {
  background-color: rgb(237, 13, 13);
  border-radius: 20px;
  width: 90px;
}
#bt4 {
  width: 90px;
  border-radius: 20px;
}
#b_t3,
#bt4:hover {
  background-color: rgb(237, 13, 13);
  border-radius: 20px;
  width: 90px;
}
#bt5 {
  width: 90px;
  border-radius: 20px;
}
#b_t4,
#bt5:hover {
  background-color: rgb(237, 13, 13);
  border-radius: 20px;
  width: 90px;
} */
/*
#bt4 {
  grid-column: 7/8;
  grid-row: 2/3;
  border-radius: 30%;
}
#bt5 {
  grid-column: 8/9;
  grid-row: 2/3;
  border-radius: 30%;
} */
#content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-column: 2/11;
  gap: 10px;
}
